name: CompareScreenshot

on:
  pull_request:

permissions:
  contents: read
  actions: read

jobs:
  compare:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Download baseline screenshots
        uses: dawidd6/action-download-artifact@v3
        with:
          name: screenshot
          workflow: StoreScreenshot.yml
          workflow_conclusion: success
          if_no_artifact_found: warn

      - name: Compare Screenshots
        id: compare
        continue-on-error: true
        run: ./gradlew compareRoborazziDebug --stacktrace

      - name: Upload Comparison Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: screenshot-diff
          path: "**/build/outputs/roborazzi"
          retention-days: 30

      - name: Save PR Number
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/NR

      - name: Upload PR Number
        uses: actions/upload-artifact@v4
        with:
          name: pr
          path: pr/
